body {
  padding-top: 51px;
}
.navbar-right {
  padding-right: 50px;
}
.navbar-nav {
  padding-left: 50px;
}
@media only screen and (max-width: 768px) {
.navbar-right {
    padding-right: 0px;
  }
  .navbar-nav {
    padding-left: 0px;
  }
}
